:root{
  --bg: #fff;
  --text: #111;
  --card-bg: #f9f9f9;
  --modal-bg: darkgrey;
}
[data-theme="dark"]{
  --bg: #222831;
  --text: #eee;
  --card-bg: #948979;
  --modal-bg: #393E46;

}

body{
  background: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: sans-serif;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.cards{
   margin-top: 1rem;
}

.card{
  background: var(--card-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text);
  box-shadow: #111;
}