.banner {
  text-align: center;
}
.open-create-new-board {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.main-content{
  text-align: center;
}

.wrap-button-cat{
  padding: 10px;
}

.sort-title{
  margin-bottom: 0px;
}